.main {
  /*height: 100%;
  margin: auto;
  width: 90%;
  display: flex;
  flexDirection: column;
  minHeight: calc(100vh - 64px);*/
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
    .topTitle {
      display: flex;
      justify-content: space-between;
    }
}

