.MuiTypography-root {
    font-family: DINCyr, Arial, sans-serif !important;
    font-weight: 600 !important;

}

.logo {
    flex-basis: 18%;
    text-align: center;
    background: rgb(76, 178, 66);
    width: 20%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}